<body class="second-body">
  <div class="container second-container">
    <br>
    <div class="welcome-user">
      {{#if user}}
      <h4 class="users-name">Hi {{name}}! Welcome back!</h4>
      {{else}}
      <p class="users-name">Hi {{name}}!</p>
      {{/if}}
    </div>

    <hr>

    <div class="saved-restaurants">
      {{#if restaurant}}
        <h6>Previously Visited Restaurants:</h6>
        {{#each restaurant}}
          <ul class="list-group">
            <li class="list-group-item d-flex justify-content-between">{{name}}
              <span class="rate-emojis" id="one">&#129314</span>
              <span class="rate-emojis" id="two">&#128533</span>
              <span class="rate-emojis" id="three">&#128528</span>
              <span class="rate-emojis" id="four">&#128522</span>
              <span class="rate-emojis" id="five">&#129316</span>
            </li>
          </ul>
        {{/each}}
    </div>
    {{else}}
    <h6>You have no saved restaurants.</h6>
    {{/if}}

    <br>
    {{!-- button takes user to home page --}}
    <a href="/" class="btn btn-outline-dark float-right exit">Exit</a>

    {{!-- button takes user to survey page --}}
    <button id="go-to-survey" type="button" class="btn btn-outline-dark float-right">Restaurant Finder Survey</button>

  </div>

</body>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script src="/js/index.js"></script>