<body class="second-body">
  <div class="container second-container">
    <br>
    <div class="welcome-user">
      {{#if user}}
      <h4 class="users-name">Hi {{name}}! Welcome back!</h4>
      {{else}}
      <p class="users-name">Hi {{name}}!</p>
      {{/if}}
    </div>

    <hr>

    <div class="saved-restaurants">
      {{#if returning_user}}
      <h6>Previously Visited Restaurants:</h6>
      {{!-- <ul class="list-group"> --}}
      {{!-- fillers for example layout --}}
      {{!-- <li class="list-group-item d-flex justify-content-between align-items-center">El Pueblito
          <span class="rate-emojis">&#129314 &#128533 &#128528 &#128522 &#129316</span>
        </li>
      </ul> --}}
      <div class="suggested-restaurants">
        {{#each restaurant}}
        <p class="restaurant-names">{{name}}<input class="form-check-input position-static float-right" type="radio"
            name="blankRadio" value="{{name}}" aria-label="..."></p>
        {{/each}}
      </div>
    </div>
    {{else}}
    <h6>You have no saved restaurants.</h6>
    {{/if}}

    <br>
    {{!-- button takes user to home page --}}
    <a href="/" class="btn btn-outline-dark float-right exit">Exit</a>

    {{!-- button takes user to survey page --}}
    <button id="go-to-survey" type="button" class="btn btn-outline-dark float-right">Restaurant Finder Survey</button>

  </div>

</body>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script src="/js/index.js"></script>